@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="mainColumn">
    <h2>Inloggning för Småstads personal</h2>
    <p class="info">En säker tjänst från Småstads IT-avdelning</p>

    <form asp-controller="Coordinator" asp-action="StartCoordinator" method="post" >
        <p>
            <input type="hidden" name="isSubmitted" value="true" />
        </p>
        <p>
            <span class="label">Användarnamn:</span><br />
            <input type="text" name="user" />
        </p>
        <p>
            <span class="label">Lösenord:</span><br />
            <input type="password" name="password" />
        </p>
        <p>
            <input class="button" type="submit" value="Inloggning av samordnare" />
            <br />
            <!--Dessa länkar ska sedan tas bort då det är meningen att vid kontrollen av inloggningsuppgifter så hämtas rätt sida-->
            <a button class="button" onclick="location.href='@Url.Action("StartManager","Manager")'">Inloggning av chefer</a><br />
            <a class="button" onclick="location.href='@Url.Action("StartInvestigator","Investigator")'">Inloggning av handläggare</a>
        </p>
    </form>
</section><!-- End Left -->
