@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="mainColumn">
    <h2>Tack för din anmälan</h2>
    <p class="info">I Småstad är inga brott för små för att anmälas</p>

    <p>
        Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
        Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
        Ange då nummer: 2014-45-0201
    </p>

    <p><a button class="button" asp-controller="Home" asp-action="Index">Avsluta</a></p>
</section><!-- End Left -->