@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";

}

@section toolbar{   <ul>
        <li><a class="reports" asp-controller="Manager" asp-action="StartManager">Start(Ärenden)</a></li>
        <li class="right"><a class="logout" asp-controller="Home" asp-action="Index">Logga ut</a></li>

    </ul>}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<!--ComponentView-->
@await Component.InvokeAsync("ErrandDetail", ViewBag.ID)
<!--End of ComponentView-->



<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p>
        Ange handläggare:
        <select name="investigator">
            <option selected="selected">Välj</option>
            <option value="inv1">Ada Bengtsson</option>
            <option value="inv2">Bengt Cederström</option>
            <option value="inv3">Cecilia Danielsson</option>
            <option value="inv4">David Ekström</option>
            <option value="inv5">Erik Falkenberg</option>
        </select>
    </p>
    <p><input type="checkbox" name="noAction" value="true" /> Ingen åtgärd: <input type="text" name="reason" value="Ange motivering" /></p>
    <p><input class="button" type="submit" value="Spara" /></p>
</section>
