<!DOCTYPE html>

<html xml: lang="sv-se" >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Småstad</h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header><!-- End header -->
        @RenderBody()
    </div>
</body>
</html>
