@{
    Layout = "_HeaderLayout";
}


    <nav>
        @RenderSection("toolbar")

    </nav><!-- End Nav -->
    <div id="content">
        @RenderBody()

        <footer>
            &copy; Småstads Kommun All rights reserved.
        </footer>
    </div>

