@{
    @model LoginModel
}

<section id="mainColumn">
    <h2>Inloggning för Småstads personal</h2>
    <p class="info">En säker tjänst från Småstads IT-avdelning</p>


    @*
    <form asp-controller="Coordinator" asp-action="StartCoordinator" method="post" >
        <p>
            <input type="hidden" name="isSubmitted" value="true" />
        </p>
        <p>
            <span class="label">Användarnamn:</span><br />
            <input type="text" name="user" />
        </p>
        <p>
            <span class="label">Lösenord:</span><br />
            <input type="password" name="password" />
        </p>
        <p>
            <input class="button" type="submit" value="Inloggning av samordnare" />
            <br />
            <!--Dessa länkar ska sedan tas bort då det är meningen att vid kontrollen av inloggningsuppgifter så hämtas rätt sida-->
            
            <a button class="button" asp-controller="Manager" asp-action="StartManager">Inloggning av chefer</a><br />
            <a class="button" asp-controller="Investigator" asp-action="StartInvestigator">Inloggning av handläggare</a>

        </p>
    </form>
        *@

<form asp-controller="Account" asp-action="LoginCoordinator" method="post">

    <!--The 2 following lines are just fake inputs because chrome was considering the username field as password and suggests random password!....Not needed in our course, but it is very very annoying!
        https://stackoverflow.com/questions/32399316/textboxusername-password-auto-fill-off-with-chrome
        -->
    <input style="display:none" type="text" name="fakeusernameremembered" />
    <input style="display:none" type="password" name="fakepasswordremembered" />
    <!--End of fake inputs-->

    <p>
        <label class="label" asp-for="UserName"></label>
        <br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </p>
    <p>
        <label class="label" asp-for="Password"></label>
        <br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <input type="hidden" asp-for="ReturnUrl" />
    </p>
    <p>
        <input class="button" type="submit" value="Logga in" />
    </p>
    <div asp-validation-summary="All"></div>
</form>
</section><!-- End Left -->
