@{
    @model Errand
    Layout = "_CoordinatorLoginLayout";
}
<style>
    .error {
        font-weight: bold;
        color: #f00;
    }
</style>
<h2>Rapportera brott</h2>
<p class="info">Du är inloggad som samordnare</p>

<p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i</p>
<form asp-controller="Coordinator" asp-action="Validate" method="post">
    <div asp-validation-summary="All" class="error"></div>
    <p>

        <input type="hidden" name="isSubmitted" value="true" />
    </p>
    <p>
        <label asp-for="Place" class="label">Var har brottet skett någonstans?</label><br />
        <input asp-for="Place" /> *
    </p>
    <p>
        <label asp-for="TypeOfCrime" class="label">Vilken typ av brott?</label><br />
        <input asp-for="TypeOfCrime" /> *
    </p>
    <p>
        <label asp-for="DateOfObservation" class="label">När skedde brottet?</label><br />
        <input asp-for="DateOfObservation" asp-format="{0:yyyy/MM/dd}" /> *
    </p>
    <p>
        <label asp-for="InformerName" class="label">Ditt namn (för- och efternamn):</label><br />
        <input asp-for="InformerName" /> *
    </p>
    <p>
        <label asp-for="InformerPhone" class="label">Din telefon:</label><br />
        <input asp-for="InformerPhone" /> *
    </p>
    <p>
        <label asp-for="Observation" class="label">Beskriv din observation<br /> (ex. namn på misstänkt person):</label><br />
        <textarea asp-for="Observation" rows="5" cols="16"></textarea>
    </p>
    <p>
        <button class="button" type="submit">Skicka in</button>
    </p>
</form>